<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kuba.exercise_02">

    <uses-permission android:name="com.example.kuba.permission.NOTIFY_ITEM_ADDED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="AddItemBroadcastReceiver"
            android:permission="com.example.kuba.permission.NOTIFY_ITEM_ADDED"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.example.kuba.intent.action.ITEM_ADDED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>